body{
  width: 100vw;
  height: 100vh;
  background: #f7f7f7;
}
.nav-bar{
  width: 100vw;
  height: 8vh;
  background-color: rgba(44, 44, 44, 0.34);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-body{
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tesla-logo{
  background-image: url("../images/teslaLogo.png");
  background-size: 100% 100%;
  width: 15%;
  height: 40%;
  cursor: pointer;

}
.left-nav{
  width: 45%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 20px;
}
.nav-bold{
  width:15%;
  height: 100%;
  color: #eee;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;

  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.right-nav{
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 50px;

}
.nav-light{
  width:13%;
  height: 100%;
  color: #eee;
  font-size: 11px;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;

}
.home-background{
  background-image: url("../images/teslaP100D.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
.home-main-info{
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.p100D-badge{
  background-image: url("../images/p100Dbadge.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 35%;
  height: 55px;
}
.med-text{
  color: #eee;
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
}
.small-text{
  color: #eee;
  font-size: 20px;
  margin-bottom: 50px;
  font-family: 'Quicksand', sans-serif;
}
.mobile-order-buttons{
  width: 50%;
  height:45px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 100px;
}
.button-option{
  height: 90%;
  width: 30%;
  background-color: rgba(44, 44, 44, 0.24);
  border: none;
}
.button-font{
  color: #eee;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
  z-index: ;
}
footer{
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-section{
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-link{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 10%;
  height: 100%;
  font-size: 11px;
  color: #eee;
  font-family: 'Quicksand', sans-serif;
}
/*MODEL S*/
.model-page{
  width: 100vw;
  height:auto;
}
.model-s-background{
  width: 100%;
  height: 100vh;
  background-image: url("../images/teslaModelSWhite.jpg");
  background-size: 100% 115%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
/*MODEL X*/

.model-x-background{
  width: 100%;
  height: 100vh;
  background-image: url("../images/teslaModelX.jpg");
  background-size: 100% 115%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
/*MODEL 3*/
.model3-top-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
video {
  position: fixed;
  top: 40%;
  left: 50%;
  min-width: 100%;
  min-height: 75%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}
.model3-logo {
    width: 100%;
    height: 90px;
    top: 15%;
    margin-left: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.model3-title{
  font-size: 60px;
  font-family: 'Quicksand', sans-serif;
  color: #eee;
}
/*Mobile View*/

@media screen and (max-width: 720px) {
  .home-background{
    background-size: 200% 100%;
    background-position-x: 50%;
  }
}

}
