<main role="main">
    <section class="home-background">
        <section class="home-main-info">
            <div class="p100D-badge"></div>
            <div class="med-text">
                <p>
                    Maximum Performance. Maximum Range.
                </p>
            </div>
            <div class="small-text">
                <p>
                    Available for Model S and Model X
                </p>
            </div>
            <section class="mobile-order-buttons">

                <button class="button-option" type="button" name="button"><span class="button-font">ORDER MODEL S</span></button>
                <button class="button-option" type="button" name="button"><span class="button-font">ORDER MODEL X</span></button>
                <button class="button-option" type="button" name="button"><span class="button-font">READ MORE</span></button>

            </section>
        </section>
        <footer>
            <section class="footer-section">
                <span class="footer-link">Tesla Motors 2016 </span>
                <span class="footer-link">Privacy & Legal </span>
                <span class="footer-link">Contact </span>
                <span class="footer-link">Careers </span>
                <span class="footer-link">Forums </span>
                <span class="footer-link">Locations </span>
                <span class="footer-link">Flag</span>
            </section>
        </footer>
    </section>


</main>