<section class="model-s-background">
    <div class="title-options">
        <div class="car-title">
            <span>Model S</span>
        </div>
        <div class="car-options">
            <span>Test Drive</span>
            <span>Custom Order</span>
            <span>New Inventory</span>
            <span>Pre-Owned</span>
            <span>Get Updates</span>
        </div>
    </div>
    <section class="model-footer">
        <section class="model-footer-container">

            <div class="model-footer-name">Model S</div>
            <div class="model-footer-options">
                <span class="color-red-text">Request Financing & Trade In</span>
                <button type="button" class="model-footer-button color-red-button">CUSTOM ORDER</button>
                <button type="button" class="model-footer-button">NEW INVENTORY</button>
                <button type="button" class="model-footer-button">TEST DRIVE</button>
            </div>
        </section>
    </section>
</section>
<section class="model-x-background">

</section>