<section class="model-s-page">
  <section class="model-s-background">
      <div class="title-options">
          <div class="car-title">
              <span>Model S</span>
          </div>
          <div class="car-options">
              <span>Test Drive</span>
              <span>Custom Order</span>
              <span>New Inventory</span>
              <span>Pre-Owned</span>
              <span>Get Updates</span>
          </div>
          <div class="car-options-mobile">
              <span id="color-red-button">Test Drive</span>
              <span>Custom Order</span>
          </div>
      </div>
      <section class="model-footer">
          <section class="model-footer-container">

              <div class="model-footer-name">Model S</div>
              <div class="model-footer-options">
                  <span class="color-red-text">Request Financing & Trade In</span>
                  <button type="button" id="color-red-button" class="model-footer-button">CUSTOM ORDER</button>
                  <button type="button" class="model-footer-button">NEW INVENTORY</button>
                  <button type="button" class="model-footer-button">TEST DRIVE</button>
              </div>
          </section>
      </section>
  </section>
</section>
