<section class="model-page">
    <section class="model3-top-container">
        <div class="model3-logo">
            <p class="model3-title">
                MODEL III
            </p>
        </div>
        <video src="./images/teslaModel3vid.mp4" poster="./images/teslaModel3.jpg" autoplay>
<div class="model-3-title">
</div>
</video>

    </section>
    <section class="model-footer">
        <section class="model-footer-container">

            <div class="model-footer-name">Model III</div>
            <div class="model-footer-options">
                <span class="color-red-text">Request Financing & Trade In</span>
                <button type="button" id="color-red-button" class="model-footer-button">CUSTOM ORDER</button>
                <button type="button" class="model-footer-button">NEW INVENTORY</button>
                <button type="button" class="model-footer-button">TEST DRIVE</button>
            </div>
        </section>
    </section>
</section>
