<header class="nav-bar">
    <section class="nav-body">
        <section class="tesla-logo" ui-sref="home">
        </section>
        <section class="hamburger-menu"> </section>
        <section class="left-nav hamburger-menu">
          <div class="nav-bold" ui-sref="models"> MODEL S   </div>
          <div class="nav-bold" ui-sref="modelx"> MODEL X   </div>
          <div class="nav-bold" ui-sref="model3"> MODEL 3   </div>
          <div class="nav-bold"> CHARGING   </div>
          <div class="nav-bold"> ENERGY   </div>
        </section>
        <section class="right-nav">
          <div class="nav-light"> UPDATES   </div>
          <div class="nav-light"> SUPPORT   </div>
          <div class="nav-light"> FIND US   </div>
          <div class="nav-light"> SHOP   </div>
          <div class="nav-light"> MY TESLA   </div>
        </section>
    </section>
</header>
